<div class="home-header">
  <div class="home_background" style="background-image: url(../../assets/images/cat.jpg);"></div>
  <div class="home_content">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1 class="home_title">Liste des Enseignants</h1>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="language">

  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="language_title">Nos Enseignants</div>
      </div>
      <div class="col-md-3">
        <div class="example">
          <input type="text"   placeholder="Rechercher des enseignants" [(ngModel)]="term" />
          <button type="submit" disabled><i class="fa fa-search"></i></button>
        </div>

      </div>
    </div>
<hr>
  </div>
</div>

<!-- Courses -->

<div class="courses">
  <div class="container">
    <div class="row courses_row">
      <!-- Course -->
      <div class="col-lg-4 course_col" *ngFor="let ens of enseignants|filter:term|paginate:{itemsPerPage: itemsPerPage, currentPage: page }">
        <div class="course flip-card">
          <div class="flip-card-inner">
            <div class="course_image flip-card-front"><img [src]="ens?.photoProfile" alt=""></div>
            <div class="course_body flip-card-back">
              <div class="course_title"><a href="#">{{ens?.nom}} {{ens?.prenom}}</a></div>
              <div class="course_info">
                <ul>
                  <li><a href="instructors.html">{{ens?.grade}}</a></li>
                  <li><a href="#">Français</a></li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="row">
      <div class="col" *ngIf="enseignants?.length>6">
        <div class="load_more_button" *ngIf="itemsPerPage!=enseignants?.length"><a (click)="onAffichePlus()" >Afficher plus</a></div>
        <div class="load_more_button" *ngIf="itemsPerPage===enseignants?.length"><a  (click)="onAfficheMoins()"  >Afficher moin</a></div>
      </div>
    </div>
  </div>
</div>
